body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: #457580;
    color: white;
    text-align: center;
    padding: 10px;
}

#sections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#sections a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin: 0 20px;
    transition: color 0.3s ease-in-out;
}

@media (max-width: 680px) {

    #sections a{
        font-size: 16px;
    }
    .home-page-button {
        display: flex;
        justify-content: center;
    }
    .home-page-button a {
        padding: 10px 100px;
        margin-bottom: 3px;
    }
}

#sections a:hover {
    color: #FF5733;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
    color: #457580;
}

.about-me-h1 {
    margin: 0px;
    margin-bottom: 0px;
}

hr {
    background-color: #FF5733;
    height: 2px;
    border: none;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    padding: 0 20px;
    text-align: justify;
}

a {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #457580;
    color: white;
}

.home-page-button {
    display: flex;
    margin-bottom: 20px;
}