/* links-styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e2ffff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #457580; /* Darken the background color on hover */
    color: white;
}

#home-page-link {
    display:block;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

