body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#sections {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sections a {
    font-size: 36px; /* Increase the font size to your desired value */
    text-decoration: none;
    color: #333;
    margin: 10px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out; /* Add border transition */
    border: 2px solid transparent; /* Add transparent border initially */
    padding: 5px; /* Add padding for spacing */
}

#sections a:hover {
    color: #FF5733; /* Highlighted link color on hover */
    border-color: #FF5733; /* Add border color on hover */
}